{% extends "base.html.twig" %}

{% block body %}

<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore architecto eveniet porro nisi distinctio, natus repudiandae, soluta consequatur fugiat non reprehenderit corrupti quasi illo aliquid at! Quidem id, nostrum necessitatibus architecto laboriosam sint consequatur ex reprehenderit fuga, amet similique sunt.</p>
<p>Quae, possimus. Omnis aperiam velit et ducimus in esse ea consequuntur blanditiis magnam non sit nam necessitatibus temporibus maiores, adipisci qui fugiat provident doloribus veritatis corporis nihil, accusamus sequi accusantium exercitationem. A fugit illo aspernatur aliquid, minus dolore ea veniam.</p>

{% endblock %}